@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.card_configs{
    margin-top: 10px;
    margin-bottom: 10px;
}

.SuporteConfis{
    margin-top: 50px;
}

